<!DOCTYPE html>
<html>
  <head>
    <title>Collection platform</title>
    <!--
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='bulma.css') }}" />
    -->
    <script type="text/javascript">
    // TODO
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Disseminate service</h1>
      <p>Respondents: {{ product.totalNumberOfRespondents }}</p>
      <p>Total number of children: {{ product.totalNumberOfChildren }}</p>
      <p>List of occupations:</p>
      <ul>
      {% for occupation in product.occupations %}
        <li>{{ occupation }}</li>
      {% endfor %}
      </ul>
    </div>
  </body>
</html>
