<!DOCTYPE html>
<html>
  <head>
    <title>Collection platform</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='bulma.css') }}" />
    <script type="text/javascript">

    /* Grabbing the content of the questionnaire */
    function getFormContent(id) {
      var res = {
        timestamp: Date.now(),
        questionnaire: {
          name: document.getElementById("name").value,
          occupation: document.getElementById("occupation").value,
          children: document.getElementById("children").value,
        }
      }
      return res;
    }

    /* Pushing the questionnaire to the server */
    function sendQuestionnaire(e) {
      e.preventDefault();
      console.log("Pushing a questionnaire to the server");
      fetch("/events", {
        method: "POST",
        headers: {"Accept": "application/json"},
        body: JSON.stringify(getFormContent("the-form"))
      })
      .then(function(response) {
        console.log("response from server", response);
      });
    }

    function load() {
      var form = document.getElementById("the-form");
      form.addEventListener("submit", sendQuestionnaire, false);
    }

    </script>
  </head>
  <body onload="load();">
    <form id="the-form">
      <fieldset>
        <legend>Name</legend>
        <input
          id="name"
          class="input is-primary"
          type="text" />
      </fieldset>
      <fieldset>
        <legend>Occupation</legend>
        <input
          id="occupation"
          class="input is-primary"
          type="text" />
      </fieldset>
      <fieldset>
        <legend>Number of children</legend>
        <input
          id="children"
          class="input is-primary"
          type="number" />
      </fieldset>
      <input
        class="button is-primary"
        type="submit"
        value="Send your questionnaire"/>
    </form>
    <button id="clickButton">click</button>
    <p>{{ timestamp }}</p>
  </body>
</html>
