<!DOCTYPE html>
<html>
  <head>
    <title>Collection platform</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='bulma.css') }}" />
    <script type="text/javascript">

    function getRandomInt(min, max) {
      return Math.floor(Math.random() * (max - min + 1) + min);
    }

    function getRandName() {
      var names = [
        "Trygve",
        "Franck",
        "Jacob",
        "Benoit",
        "Therese",
        "Romain",
        "Marco"
      ];
      var index = getRandomInt(0, names.length -1);
      return names[index];
    }

    function getRandOccupation() {
      var occupations = ["Architect", "Developer", "Manager", "Painter", "Poet"];
      var index = getRandomInt(0, occupations.length -1);
      return occupations[index];
    }

    /* Generate random values for the questionnnaire fields */
    function randForm() {
      document.getElementById("name").value = getRandName();
      document.getElementById("occupation").value = getRandOccupation();
      document.getElementById("children").value = getRandomInt(0, 5);
    }

    /* Grabbing the content of the questionnaire */
    function getFormContent(id) {
      var res = {
        timestamp: Date.now(),
        questionnaire: {
          name: document.getElementById("name").value,
          occupation: document.getElementById("occupation").value,
          children: document.getElementById("children").value
        }
      };
      return res;
    }

    /* Pushing the questionnaire to the server */
    function sendQuestionnaire(e) {
      e.preventDefault();
      console.log("Pushing a questionnaire to the server");
      fetch("/events", {
        method: "POST",
        headers: { Accept: "application/json" },
        body: JSON.stringify(getFormContent("the-form"))
      }).then(function(response) {
        console.log("response from server", response);
      });
    }

    function load() {
      var form = document.getElementById("the-form");
      form.addEventListener("submit", sendQuestionnaire, false);
    }
</script>
  </head>
  <body onload="load();">
    <div class="container">
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <h1 class="title" style="color: #009DD9">
              Collect service
            </h1>
            <h2 class="subtitle">
              CSPA on docker
            </h2>
          </div>
        </div>
      </section>
      <form id="the-form">
        <fieldset>
          <legend>Name</legend>
          <input
            id="name"
            class="input is-primary"
            type="text" />
        </fieldset>
        <fieldset>
          <legend>Occupation</legend>
          <input
            id="occupation"
            class="input is-primary"
            type="text" />
        </fieldset>
        <fieldset>
          <legend>Number of children</legend>
          <input
            id="children"
            class="input is-primary"
            type="number" />
        </fieldset>
        <input
          class="button is-primary"
          type="submit"
          value="Send your questionnaire"/>
        <a class="button is-info is-outlined" onclick="randForm()">!!!</a>
      </form>
    </div>
  </body>
</html>
