<!DOCTYPE html>
<html>
  <head>
    <title>Collection platform</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='bulma.css') }}" />
    <script type="text/javascript">
    // TODO put some web socket magic here
    </script>
  </head>
  <body>
    <div class="container">
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <h1 class="title" style="color: #7CCA62">
              Disseminate service 2.0
            </h1>
            <h2 class="subtitle">
              CSPA on containers
            </h2>
          </div>
        </div>
      </section>
      <div class="columns">
        <div class="column">
          <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                  Number of children per respondent
                </p>
            </header>
            <div class="card-content">
              <div class="content">
                {{ product.totalNumberOfChildren / product.totalNumberOfRespondents }}
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                  List of occupations
                </p>
            </header>
            <div class="card-content">
              <div class="content">
                <ul>
                {% for occupation in product.occupations %}
                  <li>{{ occupation.occupation }} - {{ occupation.num }}</li>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- RAW  -->
      <p>Respondents: {{ product.totalNumberOfRespondents }}</p>
      <p>Total number of children: {{ product.totalNumberOfChildren }}</p>
      </ul>
    </div>
  </body>
</html>
